.bannerImg {   
    height: 100%;
    width: 100%; 
}

.bannerTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    color: white;
    height: 59%; 
}

.bannerTitle {
    font-size: var(--title-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 5px;
}

.bannerSubtitle {
    font-size: var(--subtitle-font-size);
    font-weight: var(--font-normal);
}
 