.navBar { 
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    height: 58px;
}

.navBar__container { 
    width: 100%;
    margin: 0 23px;
    display: flex;
    justify-content: space-between;
}

.navListContainer {
    display: flex;
    align-items: center;
}

.navBar__logo {
    cursor: pointer; 
}

.navList {
    color: var(--white);
    display: flex;
}

.navList__item {
    font-size: var(--font-normal);
    margin-left: 40px; 
}

.navList__link{
    color: white;
    text-decoration: none;
}

.navFormContainer{
    display: flex;
    align-items: center;
    gap: 16px;
}

.navFormInput {
    height: 38px;
    width: 207px;
    border-radius: 0px;
    border: none;
    border: solid 1px var(--cinza);
}

.navFormButton { 
    padding: 9px 12px;
    background-color: var(--black);
    color: var(--white);
    font-weight: var(--font-medium);
    border: solid 1px white;
    font-size: var(--font-normal);
    cursor: pointer;
}

@media screen and (max-width: 915px) {
    .navList__item {
        margin-left: 20px;
    }

    .navBar__logo{
        height: 24px;
    }

    .navList__link{
        font-size: 13px;
    }

    .navFormInput {
        width: 145px; 
        font-size: 13px;
    }

    .navFormButton{
        font-size: 13px;
    }
}